@font-face {
    font-family: 'Alegreya';
    src: url('https://fonts.googleapis.com/css?family=Alegreya');
}

$black: #222;
$lightgrey: #ddd;
$darkgrey: #bbb;

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b3c6ff;
    margin: 20px;
    color: $black;
}

#main {
    background-color: $lightgrey;
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
}

#title {
    background-color: $darkgrey;
    margin: 0;
    padding: 10px;
    border: {
        left: 1px solid $black;
        top: 1px solid $black;
        right: 1px solid $black;
    };
}

#leaderboard {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid $black;
    border-collapse: collapse;
}

.sortButton {
    display: inline-block;
    width: 20px;
    padding: {
        bottom: 14.18px;
    };
    margin: {
        // top: 20px;
        left: 20px;
    }
    top: 4px;
    position: relative;
    overflow: hidden;
}
.sortButton:before {
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color : #0079C6;
    transform-origin:0 0;
    transform: rotate(-45deg);
    cursor: pointer;
}

$i: 1;
@while $i < 100 {
    .row#{$i} {
        background-color: $darkgrey;
    }
    $i: $i + 2;
}

.camper {
    width: 50%;
    text-align: left;
    padding: {
        left: 10px;
    }
}

.thumbnail {
    padding: {
        top: 6px;
        right: 5px;
        bottom: 3px;
        right: 5px;
    }
    height: 40px;
    border-radius: 10px;
}

.username {
    position: relative;
    bottom: 15px;
}