$black: #333;

#main {
    background-color: #ddd;
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
}

#title {
    margin: 0;
    padding: 10px;
    border: {
        left: 1px solid $black;
        top: 1px solid $black;
        right: 1px solid $black;
    };
}

#leaderboard {

    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid $black;
    border-collapse: collapse;
}